.footer-container{
text-align:center;
background:hsl(233, 26%, 24%);
color:#fff;
padding:2rem 0rem;

}
.footer-container .footer-nav a{
color:#fff;
}
.footer-container 
.attribution a{
margin-bottom:1rem;
color:hsl(192, 70%, 51%);
font-weight:400;
font-size:0.85rem;
}
.footer-container  img{
display:flex;
}

.media-link-list{
display:flex;
justify-content:center;
align-items:center;
}





/* ===================
Large Desktop Styles
======================*/

@media(min-width:980px){
.footer-container{
display:flex;
flex-flow:row wrap;
align-items:center;
justify-content:space-around;
}
.footer-container>*:last-child{
margin-left:auto;
flex-basis:34%;
}

}